p {
    font-family: Arial ;
  }
  .video-title {
    font-size: 30px;
    font-weight: bold;
    width: 500px;
    line-height: 40px;
    margin-bottom: 5px;
  }
  .video-stats {
    font-size: 18px;
    color: gray;
    margin-top: 0px;
  }
  .video-author {
    font-size: 18px;
    color: gray;
    margin-top: 0px;
  }
  .video-description {
    font-size: 18px;
    margin-top: 20px;
    color: gray;
    width: 400px;
    line-height: 25px;
    margin-bottom: 100px
  }
  .apple-text {
    margin-bottom: 50px;
    font-size: 16px;
    background-color: red;
    color: white;
    text-align: center;
    padding-top: 18px;
    padding-bottom: 18px;
  }
  .span-example:hover {
    text-decoration: underline;
    cursor: pointer;
  }